name: Build and Push Docker Image

on:
  workflow_dispatch:
    inputs:
      tag_version:
        description: 'Docker image tag version (e.g., 3.3.11)'
        required: true

env:
  DOCKER_REGISTRY: docker.io
  DOCKER_NAMESPACE: farhansl
  DOCKER_IMAGE_NAME: elevate-portal

jobs:
  docker-image-build-and-push:
    strategy:
      matrix:
        runner: [ubuntu-latest, ubuntu-24.04-arm64]

    runs-on: ${{ matrix.runner }}
    timeout-minutes: 60

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Get Docker tag version
      id: get-version
      run: |
        VERSION="${{ github.event.inputs.tag_version }}"
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_NAMESPACE }}/${{ env.DOCKER_IMAGE_NAME }}
        tags: |
          type=raw,value=${{ steps.get-version.outputs.version }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        # Automatically uses native platform
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Image digest
      run: echo "Pushed with digest ${{ steps.build.outputs.digest }}"